[submodule "google-hompage"]
	path = google-hompage
	url = git@github.com:Ecclesiology/google-homepage.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = git@github.com:Ecclesiology/rock-paper-scissors.git
[submodule "google-hompage-project"]
	path = google-hompage-project
	url = git@github.com:Ecclesiology/google-homepage.git
[submodule "javaScript-tests-odin"]
	path = javaScript-tests-odin
	url = git@github.com:Ecclesiology/javaScript-tests-odin.git
[submodule "DOM-Experiment"]
	path = DOM-Experiment
	url = git@github.com:Ecclesiology/DOM-Experiment.git
